@font-face {
    font-family: aAlbionicTitulInflBold;
    src: url(i/aAlbionicTitulInfl_Bold.ttf);
}

.email {
    font: bold 24px aAlbionicTitulInflBold, arial;
    background: #FFF;
    padding:.1em .2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a,
a:visited {
    color: #cd2447;
}

a:hover {
    text-decoration: none;
}

body {
    position: relative;
    width: 1260px;
    margin: 0 auto;
}

#main {
    width: 1260px;
    background-image: url(i/bg1.jpg);
    background-repeat: no-repeat;
    height: 714px;
}

#logo {
    position: absolute;
    top: 20px;
    left: 70px;
}

#contact {
    position: absolute;
    top: 20px;
    right: 125px;
    font-family: aAlbionicTitulInflBold;
    text-align: center;
}

#descriptor {
    position: absolute;
    top: 63px;
    left: 50px;
    text-align: center;
}

p#descriptor {
    font: bold 36px Tahoma;
    color: #3c3244;
    top: 55px;
    left: -45px;
    width: 1270px;
}

#p10000 {
    position: absolute;
    top: 210px;
    left: 40px;
}

#fform1 {
    position: absolute;
    top: 400px;
    left: 800px;
    background-color: #ffffff;
    text-align: center;
    font: bold 24px Tahoma;
    color: #794b98;
    padding: 30 30 30 30;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    line-height: 1.3;
}

.field {
    padding: 5px 130px 5px 10px;
    margin: 7px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

}

input[type=text] {
    color: #a9a9b0;
    font: bold 14px georgia;
}

input[type=submit],
input[type=submit]:hover,
a.button
{
    position: relative;
    display: inline-block;
    padding: .1em .2em;
    border: 0px;
    text-shadow: 0 1px 0 #757575;
    border-radius: 15px;
    cursor: pointer;
    background: #da2e55; /*linear-gradient(to bottom, #0bc408 0%,#09a206 100%);*/
    color: #fff;
    height: 30px;
    width: 300px;
    font: bold 18px/28px Tahoma;
    text-decoration: none;
}

#trigers {
    position: absolute;
    width: 1000px;
    top: 714px;
}

#trig1 {
    position: absolute;
    width: 300px;
    height: 88px;
    left: 150px;
    background-image: url(i/triger_01.png);
    top: 10px;
    background-repeat: no-repeat;
    font: 24px Tahoma;
    text-align: center;
    padding: 15px 0 0 0;
}

#trig2 {
    position: absolute;
    width: 300px;
    height: 88px;
    left: 480px;
    background-image: url(i/triger_02.png);
    top: 10px;
    background-repeat: no-repeat;
    font: 24px Tahoma;
    text-align: center;
    padding: 15px 0 0 0;
}

#trig3 {
    position: absolute;
    width: 300px;
    height: 88px;
    left: 800px;
    background-image: url(i/triger_03.png);
    top: 10px;
    background-repeat: no-repeat;
    font: 24px Tahoma;
    text-align: center;
    padding: 15px 0 0 0;
}

#trig4 {
    position: absolute;
    width: 300px;
    height: 88px;
    left: 150px;
    background-image: url(i/triger_04.png);
    top: 100px;
    background-repeat: no-repeat;
    font: 24px Tahoma;
    text-align: center;
    padding: 15px 0 0 0;
}

#trig5 {
    position: absolute;
    width: 300px;
    height: 88px;
    left: 480px;
    background-image: url(i/triger_05.png);
    top: 100px;
    background-repeat: no-repeat;
    font: 24px Tahoma;
    text-align: center;
    padding: 15px 0 0 0;
}

#trig6 {
    position: absolute;
    width: 300px;
    height: 88px;
    left: 800px;
    background-image: url(i/triger_06.png);
    top: 100px;
    background-repeat: no-repeat;
    font: 24px Tahoma;
    text-align: center;
    padding: 15px 0 0 0;
}

#end1 {
    position: absolute;
    width: 100%;
    top: 900px;
    height: 45px;
    background-color: #f16692;
    font: bold 24px Tahoma;
    text-align: center;
    padding: 15px 0 0 0;
}

#catalog {
    position: absolute;
    background-image: url(i/bg2.png);
    width: 100%;
    top: 960px;
    height: 2600px;
    font: bold 24px Tahoma;
    text-align: center;
    padding: 40px 0 0 0;
}

#fform2 {
    position: absolute;
    top: 750px;
    left: 35%;
    background-color: #ffffff;
    text-align: center;
    font: bold 24px arial;
    color: #794b98;
    padding: 30 30 30 30;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    line-height: 1.3;
}

#fform3 {
    position: absolute;
    top: 1800px;
    left: 35%;
    background-color: #ffffff;
    text-align: center;
    font: bold 24px arial;
    color: #794b98;
    padding: 30 30 30 30;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    line-height: 1.3;
}

#flogo {
    position: absolute;
    top: 50px;
}

#fcontact {
    position: absolute;
    top: 50px;
    right: 90px;
    font: 24px aAlbionicTitulInflBold, arial;
    text-align: center;
}

#footer {
    position: absolute;
    background-color: #efeeee;
    width: 86%;
    top: 3360px;
    height: 190px;
    left: 7%;
    padding: 50px 0 0 50px;
    vertical-align: middle;
}



/*------------------*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#callback_popup,
#callback_popup2
{
    width: 445px;
    height: 280px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #FFF;
    position: relative;
    display: none;
}

#callback_popup .close,
#callback_popup2 .close
{
    position: absolute;
    width: 52px;
    height: 47px;
    background: url(i/popup_close.png) no-repeat 50% 50%;
    text-indent: -1000px;
    overflow: hidden;
    right: -52px;
    top: -44px;
}


.callback_form {
    padding: 20px;
    padding-bottom: 0;
}

.callback_form .input {
    padding: 10px 0;
}

.callback_form input {
    display: block;
    background: #ebebeb;
    height: 36px;
    width: 365px;
    border: 2px solid #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 5px 10px #d0d0d0 inset;
    color: #000000;
    font: 14px robotothin_italic, Arial, Helvetica, sans-serif;
    padding: 0 13px;
    margin: 0 0 15px 5px;
}

.callback_form .input.submit {
    pubbing: 0;
}

.callback_form .input.submit button {
    display: block;
    border: none;
    width: 409px;
    height: 64px;
    background: url(i/cb_button_bg.png) no-repeat 50% 50%;
    line-height: 165px;
    text-align: center;
    font: 24px/60px bold pt_sansregular, Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}
