/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/*.bat
app/config/local/database.php
.idea/
bower_components/
all.js
styles.css
app/config/database.php