@import "../../bower_components/bootstrap/less/bootstrap.less";

@icon-font-path: 'fonts/';

.attachmentslist {
  .list {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

fieldset.attachments {
  margin-top: 2em;
  padding-bottom: 2em;
}

