@import "../../bower_components/bootstrap/less/bootstrap.less";
@import (less) "../../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css";
@import (less) "../../bower_components/datetimepicker/jquery.datetimepicker.css";
@import (less) "../../bower_components/jquery-ui/themes/smoothness/jquery-ui.css";
@import (less) "../../bower_components/jquery-ui/themes/smoothness/theme.css";
@import (less) "../../bower_components/bootstrap-tagsinput/src/bootstrap-tagsinput.less";

@icon-font-path: '../fonts/';

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.btn-right {
  float: right;
}

.bootstrap-tagsinput {
  width: 100%;
}

.attachmentslist {
  .list {
    padding-left: 0;
    li {
      list-style-type: none;

      .savecontrols {
        padding: 1em;
        .progress {
          display: none;
        }
        &.inprogress {
          .progress {
            display: inherit;
          }
          .btn {
            display: none;
          }
        }
      }

      .downloadlink {
        padding: 1em 0 .5em;
      }
    }
  }
}

.galleryimages {
  .list {
    padding: 0;
    .clearfix();
    li {
      margin-bottom: 1em;
      margin-right: 1em;
      list-style-type: none;
      float: left;
      width: 200px;
      height: 220px;
      a {
        border: 1px solid #ccc;
        display: block;
        width: 100%;
        height: 220px;
        position: relative;
        .control-delete {
          position: absolute;
          top: 5px;
          right: 5px;
        }

        .file {
          font-size: .86em;
          margin-top: 80px;
          padding: 1em;
        }
      }
    }
  }
}

.gallery {
  padding: 1em 0;
}

fieldset.attachments {
  margin-top: 2em;
  padding-bottom: 2em;
}

.categories-widget {
  margin-top: 1.5em;
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

.ui-autocomplete {
  .ui-menu-item {
    font-size: .85em;
    .description {
      font-size: .85em;
      color: #777;
    }
  }
}

.ui-autocomplete-loading {
  background: transparent url(images/ajax-loader.gif) no-repeat 99% 50%;
}