.page {

  .mainmenu {
    text-align: center;
    font-size: 1em;
  }

  .preview {
    width: 600px;
  }
}

.white-popup {
  width: 450px;
  padding: 1em;
  background: #FFF;
}

.header {
  height: 18em;
  padding: 0em inherit;
  .logo {
    text-align: left;
    padding-top: 2em;
    a {
      img {
        height: auto;
      }
    }
  }
  .contacts {
    padding-top: 5em;
    p {
      font-size: 1.8em;
      font-weight: bold;
      &.email, &.phone {
        a, span {
          display: inline-block;
          white-space: nowrap;
          padding: .2em;
          background: #FFF;
          .border-bottom-radius(3px);
        }
        a {
          color: #cd2447;
        }
      }

      &.authcontrols {
        font-size: .875em;
        span {
          display: inline-block;
          padding: .2em;
          background-color: #FFF;
          margin-right: 1em;
          border-radius: 3px;
        }
        a.btn-link {
          display: inline-block;
          padding: .2em;
          background-color: #FFF;
        }
      }

    }
  }
}

.catalog-items {
  .catalog-item {

    .img {
      display: block;
      float: none;
      width: 220px;
      margin: 0 auto;
      text-align: center;
    }
  }
}