/**
 * Created by cyrusmith on 17.12.2014.
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import "../bower_components/bootstrap/less/bootstrap.less";
@import (less) "../bower_components/magnific-popup/dist/magnific-popup.css";

@icon-font-path: 'fonts/';

@item-title-color: #e95312;

@font-face {
  font-family: 'mon_amour_twomedium';
  src: url('fonts/mon_amour_two-webfont.eot');
  src: url('fonts/mon_amour_two-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/mon_amour_two-webfont.woff2') format('woff2'),
  url('fonts/mon_amour_two-webfont.woff') format('woff'),
  url('fonts/mon_amour_two-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.progress-left, .progress-right {
  position: relative;
  &:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 25%;
    background: #FFF url(img/ajax-loader.gif) no-repeat 50% 50%;
  }
}

.progress-left:after {
  left: -24px;
}

.progress-right:after {
  right: -24px;
}

.font-hanwritten {
  font-family: mon_amour_twomedium;
  font-weight: bold;
}

.emptycart-message {
  padding: 1em 0 2em;
}

strong {
  font-weight: bold;
}

.topbar {
  a, a:visited, a:active {
    color: #FFF;
  }
  .navbar-default {
    background: #42a5bd;
    border: none;
    .navbar-collapse {
      border-color: #98d3d9;
    }
    .navbar-toggle {
      border-color: #FFF;
      &:hover, &:focus {
        background: #98d3d9;
      }
      .icon-bar {
        background: #FFF;
      }
    }
  }

  .menu {
    li {
      list-style-type: none;
      padding: .8em 0 0;
    }
  }

  .cart {
    padding-bottom: 1em;
  }
}

.header {
  padding: 1em inherit;
  .authcontrols {
    padding-top: 2em;
    text-align: center;
    .authname, a.register {
      display: inline-block;
      padding: .2em;
      background: #FFF;
      border-radius: 2px;
    }
  }

  .logo {
    display: block;
    text-align: center;
    img {
      width: 90%;
    }
  }

  .descriptor {
    color: @item-title-color;
    margin: 0;
  }
}

.page {

  .mainmenu {
    text-align: center;
    font-size: .5em;
    padding-bottom: 1em;
    a {
      display: inline-block;
      margin-right: .5em;
      color: #333;
      font-size: 2.4em;
      font-family: "Ubuntu Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      border-bottom: 1px solid #000;
      line-height: 1em;
      &:hover {
        border: none;
        text-decoration: none;
      }
      &.font-hanwritten {
        color: #f62254;
      }
      &.active {
        text-decoration: none;
        color: #666;
      }

      .glyphicon {
        font-size: .65em;
      }
    }

    span {
      display: inline-block;
      margin-right: .5em;
      font-size: 1.2em;
      font-weight: bold;
    }

  }

  padding-top: 2em;

  .curlytitle {
    text-align: center;
    padding: 2em 0 0;
    h2 {
      color: #f62254;
      font-size: 3em;
    }
  }
  .title {
    text-align: center;
  }

  .collage {
    width: 100%;
  }

  .c2a {
    padding: 2em 0;
    text-align: center;
    p {
      padding: 2em 0 0;
    }
  }

  .preview {
    margin: 0 auto;
    width: 100%;
  }
}

.register {
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer {
  padding: 1em 0;
  border-top: 1px solid #666;
  .contacts {
    white-space: nowrap;
  }
}

h1, h2, h3 {
  font-family: 'Ubuntu Condensed', Verdana, Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Georgia, 'Times New Roman';
  font-style: italic;
}

.payconfirm {
  .confirmcontrols {
    padding: 2em 0;
  }
}

.user-area {
  padding-bottom: 2em;
  .content {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    padding: 1em;
  }
}

.catalog-items {
  padding-top: 2em;
  .catalog-item {
    .clearfix();
    margin-bottom: 2em;
    .img {
      float: left;
      width: 30%;
      min-width: 30%;
      display: block;
      img {
        width: 100%;
      }
    }

    .info {
      width: 70%;
      float: left;
      .title {
        .clearfix();
        h3 {
          float: left;
          width: 70%;
          font-size: 1.2em;
          text-align: left;
          margin: 0;
          font-weight: bold;
          a {
            display: block;
            padding-top: 1em;
            padding-left: 1.5em;
          }
        }
        .addfav {
          display: none;
          float: left;
          width: 30%;
          text-align: center;
          padding-top: .4em;
          a {
            display: block;
            width: 100%;
            //            color: @gray-dark;
            color: darken(@brand-warning, 40%);
            .glyphicon {
              display: block;
              width: 100%;
              margin-bottom: .2em;
              color: darken(@brand-warning, 10%);
            }
            .note {
              display: block;
              font-size: .8em;
              text-align: center;
              line-height: 1em;
            }
          }
        }
      }
      .short {
        padding: .6em 1.75em .1em;
        margin: 0;
      }
      .addtocart {
        padding-top: 1em;
        .clearfix();
        .price {
          float: left;
          width: 60%;
          span.old, span.new {
            display: block;
            padding: 0 1em;
            font-size: 1.2em;
          }
          span.old {
            text-decoration: line-through;
            color: #777777;
            text-indent: .6em;
            &.empty {
              color: #FFF;
            }
          }
          span.registered {
            display: block;
            padding-bottom: 1.2em;
            position: relative;
            span.title {
              font-size: .75em;
              position: absolute;
              top: -2px;
              text-align: left;
              white-space: nowrap;
              padding-left: 1em;
              color: #777;
            }
          }
          span.new {
            padding-top: .3em;
            font-size: 1.8em;
            span {
              margin-left: -.5em;
            }
          }

        }
        .button {
          float: left;
          width: 40%;
          padding-top: 1.9em;
          text-align: center;
          a {
            display: inline-block;
            text-align: center;
          }

        }
      }

    }
  }
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;

  .popup-content {
    padding: .5em 0 0;
    white-space: nowrap;
    text-align: center;
  }
}

/*
====== Zoom effect ======
*/
.mfp-zoom-in {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

}

.catalog-item-page {

  padding-top: 1.4em;

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: .2em;
    color: @item-title-color;
  }

  p.price {
    span.price {
      font-weight: bold;
      font-size: 1.4em;
    }
    span.oldprice {
      text-decoration: line-through;
    }
  }

  .buttons {
    padding: 1em 0;
    .oneclickorder {
      display: inline-block;
    }
    .downloadlink {
      margin-left: -1.8em;
    }
  }

  .gallery {
    max-width: 400px;
    .mainimage {
      img {
        display: block;
        width: 100%;
        box-shadow: 0px 5px 20px #aaa;
      }
    }
    .thumbs {
      height: 1px;
      visibility: hidden;
      overflow: hidden;
      padding: 1em 0;
      .clearfix();
      a {
        float: left;
        width: 22%;
        margin-right: 4%;
        img {
          display: block;
          width: 100%;
        }
        &.last {
          float: right;
          margin: 0;
        }
        &:hover {
          img {
            position: relative;
            top: -4px;
          }
        }
      }
    }
  }
}

.description {
  font-style: italic;
  font-size: 1.2em;
  font-family: serif;
}
.publishdate {
  font-size: .5em;
  float: right;
  margin-top: .5em;
}

.article-page {
  article {
    .description {
      .description
    }
  }
}

.blog {
  .blog-item {
    .publishdate {
      .publishdate
    }
    padding-bottom: 1em;
    .description {
      .description
    }
  }
}

@media (min-width: @screen-sm-min) {

  @import '_media_sm.less';

}
