/**
 * Created by cyrusmith on 17.12.2014.
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

@import "../bower_components/bootstrap/less/bootstrap.less";
@import (less) "../bower_components/magnific-popup/dist/magnific-popup.css";
@import "_mainpage.less";

strong {
  font-weight: bold;
}

.white-popup {
  width: 90%;
  padding: 1em;
  background: #FFF;
  margin: 20px auto;
  position: relative;
  .mfp-close {
    position: absolute;
    top: -10px;
    right: -10px;
  }
}

.header {
  background: url(img/head-bg.png) repeat-x 50% 50%;
  background-size: auto 100%;
  padding: 1em inherit;
  .logo {
    text-align: center;
    a {
      display: inline-block;
      img {
        height: 8em;
      }
    }
  }
}

.page {
  .curlytitle {
    text-align: center;
    padding: 2em 0 0;
  }
  .title {
    text-align: center;
  }

  .collage {
    width: 100%;
  }

  .c2a {
    padding: 2em 0;
    text-align: center;
    p {
      padding: 2em 0;
    }
  }

  .preview {
    margin: 0 auto;
    width: 100%;
  }
}

.footer {
  padding: 1em 0;
  border-top: 1px solid #666;
}

h1, h2, h3 {
  font-family: 'Ubuntu Condensed', Verdana, Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Georgia, 'Times New Roman';
  font-style: italic;
}

@media (min-width: @screen-sm-min) {

  .page {
    .preview {
      width: 600px;
    }
  }

  .white-popup {
    width: 450px;
    padding: 1em;
    background: #FFF;
  }

  .header {
    height: 18em;
    padding: 0em inherit;
    .logo {
      text-align: left;
      padding-top: 2em;
      a {
        img {
          height: auto;
        }
      }
    }
    .contacts {
      padding-top: 5em;
      p {
        font-size: 1.8em;
        font-weight: bold;
        a,span {
          display: inline-block;
          white-space: nowrap;
          padding: .2em;
          background: #FFF;
          .border-bottom-radius(3px);
        }
        a {
          color: #cd2447;
        }
      }
    }
  }

}